html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	@extend %lato-600;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.03em;
	color: $dark-900;
	background-color: $white;
}

.main {
	flex-grow: 1;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 20px;
}

.title {
	@extend %signika-600;
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 30px;
}

.btn {
	line-height: 1.4;
	letter-spacing: 0.03em;
	color: $white;
	background-color: $green-900;
	border: 1px solid transparent;
	border-radius: 6px;
	cursor: pointer;
}

.filter-line {
	display: flex;
	justify-content: center;
	@extend %lato-700;
	font-size: 15px;
	color: $dark-500;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.filter-item {
	width: fit-content;
	border-bottom: 3px solid transparent;
	cursor: pointer;
	transition: border-color 0.3s ease-in;
}