@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'libs';

@import 'home/header';
@import 'home/menu';
@import 'home/carousel';
@import 'home/product-card';
@import 'home/banner';
@import 'home/promo-card';
@import 'home/news';
@import 'home/footer';

// Небольшие дивы тоже нужно в отдельные файлы раскидывать?

.service {
	display: flex;
	justify-content: center;
	background-color: $silver-100;
	padding: 48px 0;

	&__item {
		position: relative;
		max-width: 275px;
		width: 100%;
		font-weight: 400;
		letter-spacing: normal;
		color: $dark-500;
		padding-left: 75px;

		&:not(:last-child) {
			margin-right: 48px;
		}
	}

	&__item::before {
		content: "";
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 50px;
		height: 50px;
		left: 0;
		top: 0;
	}

	&__item--delivery::before {
		background-image: url('../images/icons/delivery.svg');
	}

	&__item--refund::before {
		background-image: url('../images/icons/refund.svg');
	}

	&__item--support::before {
		background-image: url('../images/icons/support.svg');
	}

	&__title {
		display: block;
		font-weight: 700;
		font-size: 16px;
		letter-spacing: normal;
		color: $dark-900;
		margin-bottom: 5px;
	}
}

.product {
	padding-top: 77px;

	&__items {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-right: -30px;
		margin-bottom: 17px;
	}

	&__btn {
		font-weight: 400;
		font-size: 18px;
		line-height: 1.3;
		color: $green-900;
		background-color: $white;
		border: 1px solid $green-900;
		padding: 12px 24px;
		display: block;
		margin: 0 auto;
		outline-color: $green-900;
		transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;

		&:hover {
			background-color: $green-100;
		}

		&:active {
			background-color: $white;
			box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
		}
	}
}

.promo {
	background-color: $silver-100;
	padding: 75px 0 73px;

	&__filter {
		letter-spacing: 0.1em;
	}

	&__items {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-right: -30px;
		margin-bottom: 20px;
	}

	&__btn {
		font-weight: 400;
		font-size: 18px;
		line-height: 1.3;
		padding: 12px 24px;
		display: block;
		width: fit-content;
		margin: 0 auto;
		outline-color: $green-200;
		transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;

		&:hover {
			background-color: $green-600;
		}

		&:active {
			background-color: $green-900;
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}
}

.brands {
	padding-top: 70px;
	margin-bottom: 70px;

	&__item {
		opacity: 0.5;
		cursor: pointer;
		outline-color: transparent;
	}

	&__item:hover {
		opacity: 1;
	}

	& .slick-track {
		display: flex;
		align-items: center;
	}

	& .slick-slide {
		text-align: -webkit-center;
	}
}