.promo-card {
	display: flex;
	justify-content: space-between;
	max-width: 300px;
	width: 100%;
	background-color: $white;
	border: 1px solid rgba(17, 17, 17, 0.2);
	border-radius: 6px;
	padding: 12px 14px 10px 10px;
	margin-right: 30px;
	margin-bottom: 30px;
	transition: border-color 0.3s ease-in;

	&:hover {
		border-color: $green-900;
	}

	&__new,
	&__hit {
		position: absolute;
		font-weight: 700;
		font-size: 10px;
		line-height: 1;
		color: $white;
		text-transform: uppercase;
		width: fit-content;
		border-radius: 6px;
		padding: 3px 6px;
		z-index: 1;
	}

	&__new {
		background-color: $green-900;
	}

	&__hit {
		background-color: $orange-900;
	}

	&__link {
		outline-color: $green-900;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 162px;
		width: 100%;
	}

	&__title {
		font-weight: 600;
		font-size: 14px;
		line-height: 1.4;
		letter-spacing: 0.03em;
		color: $dark-900;
		height: 4em;
		margin-bottom: 6px;
	}

	&__instock,
	&__ends,
	&__outofstock {
		font-weight: 600;
		font-size: 10px;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	&__instock {
		color: $green-900;
	}

	&__ends {
		color: $red-900;
	}

	&__outofstock {
		color: $silver-600;
	}

	&__price-box,
	&__price {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		font-weight: 400;
		line-height: 1;
	}

	&__price-actual {
		font-size: 20px;
	}

	&__currency-actual {
		font-weight: 600;
		font-size: 14px;
		margin-right: 14px;
	}

	&__price-old {
		position: relative;
		font-size: 12px;
		color: $silver-600;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			border-bottom: 1px solid $silver-600;
			transform: rotate(-14deg);
			bottom: 7px;
			// Почему нельзя, нормально же выглядит???
			// Если через линию, то при другой цене выглядит некорректно!
		}
	}

	&__rating {
		position: relative;
		color: $dark-500;
		padding-right: 20px;

		&::before {
			content: "";
			position: absolute;
			background-image: url('../images/icons/star.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			width: 16px;
			height: 16px;
			right: 0;
			top: -1px;
		}
	}
}