.product-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 300px;
	width: 100%;
	border: 1px solid rgba(17, 17, 17, 0.2);
	border-radius: 6px;
	padding: 10px 0 17px;
	margin-right: 30px;
	margin-bottom: 30px;
	transition: border-color 0.3s ease-in;

	&:hover {
		border-color: $green-900;
	}

	&__topbox {
		display: flex;
		justify-content: space-between;
		height: 38px;
		padding: 0px 10px;
		margin-bottom: 7px;
	}

	&__new,
	&__sale,
	&__hit {
		display: block;
		font-weight: 700;
		font-size: 10px;
		line-height: 1;
		color: $white;
		text-transform: uppercase;
		width: fit-content;
		// Для окрашивания фона по размеру текста (как минимум в первой карточке)
		border-radius: 6px;
		padding: 3px 6px;
	}

	&__new {
		background-color: $green-900;
		margin-bottom: 6px;
	}

	&__sale {
		background-color: $red-900;
	}

	&__hit {
		background-color: $orange-900;
	}

	&__favorite {
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
		outline-color: $green-900;
		transition: fill 0.3s ease-in;

		& path {
			fill: $silver-600;
		}

		&:hover path {
			fill: $yellow-900;
		}
	}

	&__link {
		outline-color: $green-900;
	}

	&__img {
		margin-bottom: 18px;
	}

	&__title {
		font-weight: 600;
		font-size: 14px;
		line-height: 1.4;
		letter-spacing: 0.03em;
		color: $dark-900;
		height: 4em;
		padding-right: 24px;
		padding-left: 16px;
		margin-bottom: 13px;
	}

	&__buy {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-right: 18px;
		padding-left: 20px;
	}

	&__price-actual,
	&__price-old {
		display: block;
		font-weight: 400;
		line-height: 1;
	}

	&__price-old {
		position: relative;
		color: $silver-600;
		margin-bottom: 3px;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			border-bottom: 1px solid $silver-600;
			transform: rotate(-14deg);
			bottom: 7px;
			// Почему нельзя, нормально же выглядит???
			// Если через линию, то при другой цене выглядит некорректно!
		}
	}

	&__cart {
		position: relative;
		width: 32px;
		height: 32px;
		background-color: $green-900;
		border: none;
		border-radius: 3px;
		padding: 0;
		cursor: pointer;
		outline-color: $green-200;
		transition: background-color 0.3s ease-in;

		&:hover {
			background-color: $green-600;
		}

		&:active {
			background-color: $green-900;
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
		}

		&::before {
			content: "";
			position: absolute;
			background-image: url('../images/icons/cart.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			width: 16px;
			height: 16px;
			left: 8px;
			top: 8px;
		}
	}
}